<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Boggle</title>
</head>
<body>
   <button class="start">Start Game</button>
    <!-- create the board -->
   <div class="game-board">
    <p class="game-status"></p>
    <table class="board">
        <tr class="row">
            {% for row in board%}
        </tr>
            {% for letter in row%}
            <td class="letter">
                {{letter}}
                {%endfor%}
            </td>
            {%endfor%}
    </table>
   </div>
   <!-- create the form pay attention to the post route -->
   <!-- *The post route is for the backend and the frontend, it is where the ajax is requesting from -->
    <form class="form">
        <input type="text" name="word" class="guess">
        <button class="submit" >Submit</button>
    </form>

    <!-- TODO create a section(div) for results, scores word-bank and other requirements -->
    <div class="game-results">
        <div class="score">
            <p><b class="highscore">Score:</b><span class="points"></span></p>
            <p><b>Time:</b><span class="timer"></span></p>
        </div>
        <div class="messages">
            <p class="msg">
                <!-- *JSON results about the word will do here -->
            </p>
        </div>
        <div class="words">
            <ul class="word-bank">
                <!-- *JSON results about the word will do here -->
            </ul>
    </div>

</body>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</html>